<%= if assigns[:markdown] do %>
    <link rel="stylesheet" async href="https://unpkg.com/easymde/dist/easymde.min.css">
<% end %>
<.live_component 
    id="header" 
    current_user={@current_user}
    module={SnownixWeb.SharedLive.HeaderComponent} />
<main class="container mx-auto h-full">
<%= @inner_content %>
</main>
<.live_component 
    id="footer" 
    locale={@locale}
    module={SnownixWeb.SharedLive.FooterComponent} />