<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Home", suffix: " · Snownix" %>
    
    <%= put_meta_tags_list(assigns) %>
    <%= if !assigns[:page_url] do %>
      <%= generate_meta_tag("og:url", Phoenix.Controller.current_url(@conn, %{})) %>
      <%= generate_meta_tag("twitter:site", Phoenix.Controller.current_url(@conn, %{})) %>
    <% end %>

    <link rel="canonical" href={Phoenix.Controller.current_url(@conn, %{})} />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <%= if assigns[:markdown] do %>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <% end %>
    
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>

    <script>
      if('serviceWorker' in navigator) {
        //navigator.serviceWorker.register('/sw.js').then(function() { console.info("Service Worker Registered"); });
      }
    </script>

  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
